.PostTitle {
  border: 1px solid black;
  margin: 10px 0;
  height: 100px;
}

.subreddit {
  margin-top: 1%;
  margin-left: 2%;
}

h3 {
  margin-left: 2%;
  margin-top: 1%;
}

.votes {
  position: relative;
  text-align: right;
  margin-right: 2%;
  top: 30px;
}