.App {
  display: flex;
  flex-wrap: wrap;
}

main {
  width: 100%;
  display: flex;
}

header {
  width: 100%;
  height: 50px;
}

.SubredditList {
  width: 25%;
}

.NewsFeed {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 2rem;
}

.PostTitle {
  width: 80%;
}

.PostTitle {
  border: 1px solid black;
  margin: 10px 0;
  height: 100px;
}

.subreddit {
  margin-top: 1%;
  margin-left: 2%;
}

h3 {
  margin-left: 2%;
  margin-top: 1%;
}

.votes {
  position: relative;
  text-align: right;
  margin-right: 2%;
  top: 30px;
}

input {
  width: 75%;
  margin-bottom: 20px;
}

.SubredditTitle {
  margin: 20px 0;
}

.SubredditList {
  display: flex;
  flex-direction: column;
}

.subredditListTitle {
  margin-top: 30px;
  font-size: 1.5rem;
  text-align: center;
}

.Header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
}

.icon {
  width: 50%;
  display: flex;
}

.nav {
  width:50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 20px;
}

.iconTitle {
  line-height: 50px;
  margin-left: 20px;
}

.link {
  margin: 0;
  font-size: 1em;
  text-align: right;
  margin-right: 20px;
  line-height: 50px;
}