* {
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color:black;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

.App {
  display: flex;
  flex-wrap: wrap;
}

main {
  width: 100%;
  display: flex;
}

header {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 50px;
}

.SubredditList {
  margin-top: 50px;
  width: 25%;
  background-color: #202020;
}

.NewsFeed {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 40px;
  font-size: 2rem;

}

.page {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.PostTitle {
  border: 1px solid black;
  margin: 10px 0;
  width: 80%;
  background-color: #ddd;
}

.PostTitle img {
  width: 70%;
  padding-left: 10px;
}

.Subreddit {
  border: 1px solid black;
  margin: 10px 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #ddd;
  flex-wrap: wrap;
}

.subredditDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

.numOfSubscribers {
  margin-left: 4%
}

.add {
  font-size: 3rem;
  text-align: end;
  width: 5%;
}

.subreddit {
  margin-top: 1%;
  margin-left: 2%;
}

h3 {
  margin-left: 2%;
  margin-top: 1%;
  font-size: 2rem;
}

.votes {
  text-align: right;
  margin-right: 2%;

}

input {
  width: 75%;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.SubredditTitle {
  padding: 20px 0;
  text-align: center;
  color: white
}

.SubredditTitle:hover {
  background-color: cyan;
  color: black;
}

.SubredditList {
  display: flex;
  flex-direction: column;
}

.subredditListTitle {
  margin-top: 30px;
  padding-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: white
}

.addSubreddit {
  margin-top: 0px;
  font-size: 1rem;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  padding-top: 30px;
}

.Header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  border-bottom: 3px dotted black;
  position: sticky;
}

.icon {
  width: 50%;
  display: flex;
}

.nav {
  width:50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.icon img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 20px;
}

.iconTitle {
  line-height: 50px;
  margin-left: 20px;
  font-family: 'RocknRoll One', sans-serif;
  font-size: 1.8rem;
}

.link {
  margin: 0;
  font-size: 1.2r em;
  text-align: right;
  margin-right: 50px;
  line-height: 50px;
}

.PostDetail {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.PostDetail h1 {
  width: 80%;
  text-align: left;
}

.user {
  width: 80%;
  font-size: 1.2rem;
  text-align: left;
}

.body {
 width: 80%;
 padding-top: 20px;
 font-weight: 300;
 font-size: .9rem;
}

.Comment {
  border: 1px solid black;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.commentUser {
  padding-top: 10px;
  padding-left: 10px;
  width: 50%;
}

.commentVotes {
  padding-top: 10px;
  padding-right: 10px;
  width: 50%;
  text-align: end;
}

.commentBody {
  padding-top: 20px;
  padding-left: 10px;
}

.toggleButton {
  display: none;
}

@media only screen and (max-width: 800px) {

  .Header{
    flex-direction: column;
    height: 80px;
  }

  header {
    height: 80px;
  }

  .icon {
    width: 100%;
    justify-content: center;
  }

  .link {
    line-height: 40px;
    text-align: center;
  }

  .iconTitle {
    line-height: 40px;
  }

  .icon img {
    margin-left: 0px;
  }

  .nav {
    width: 100%;
    justify-content: center;
  }

  a {
    width: 50%;
    margin-right: 0px;
    height: 50px;
    font-size: .8rem;
    font-weight: 600;
  }

  main {
    flex-direction: column;
    align-items: center;
  }

  .SubredditList {
    margin-top: 80px;
    width: 100%;
  }

  .subredditListTitle {
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .SubredditTitle {
    padding: 10px 0;
  }

  .addSubreddit {
    padding: 10px;
  }

  .NewsFeed {
    margin-top: 80px;
  }

  .PostDetail {
    margin-top: 80px;
  }

  .SubredditList {
    display: none;
  }

  h1 {
    margin-bottom: 12px;
  }

  input {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .toggleButton {
    display: inline;
    position: absolute;
    top: 83px;
    left: 6px;
    height: 24px;
    width: 20px;
  }

  h3 {
    font-size: 1.3rem;
  }


}